# Python cache
__pycache__/
**/__pycache__/
**/__pycache__/
**/pycahe/
*.pyc
*.pyo
*.pyd
*.pdb
**/cache/
*.py[cod]

# Virtual environments
.venv/

# Build artifacts
dist/
build/
artifacts
*.egg-info/

# IDE / OS
.DS_Store
.pytest_cache/
.ruff_cache/

# Local configs
configs/local.yaml

# Docs build
/docs/_build/

